@charset "utf-8";
/* CSS Document */
html,body{
	font-family: 微软雅黑;
	font-size: 14px;
	text-align: center;
	background-color: #FFF1EA;
	padding: 0px;
	margin: 0px;
	color: #525252;
	height:100%;
}
#top{
	clear:both;
	width:100%;
	background-color:#FA2227;
	height:24px;
}
#container{
	width: 70%;
	position: relative;
	background-color: #FFF8F7;
	left: 15%;
	right: 15%;
	padding: 0px;
	height:auto;
}
#left{
	float:left;
	left:0px;
	width:15%;
	position: fixed;
}
#right{
	float:left;
	right:0px;
	width:15%;
	position: fixed;
}
#footer{
	background-color: #FA2227;
	position: relative;
	bottom: 0px;
	clear: both;
	width: 100%;
	color:#FFF;
}
a{
    text-decoration: none;
	color:#FFF;
}
#menu ul li:hover{
	background: #CC1B25;
	font-size:15px;
}
#menu ul{
	position:relative;	
	margin: 0px;
	padding: 0px;
}
#menu ul li{
	display: block;
	width:20%;
	list-style:none;
	float:left;
	height: 20px;		
	padding-top:2px;
	background-color:#FA2227;
}
#content{
	width:auto;
	height:auto;
	padding:2.5%;
}
p{
	font-size:15px;
	text-align: left;
}
h4{
	color:#F00;
	font-size:18px;
	text-align: left;	
}
#time{
	color: #FFF;
	text-align:left;
	float:left;
}
#footer a:hover{
	background-color:#CC1B25;
}
#c
