name: Dispatch Event

on:
  push:
    branches:
      - master

jobs:
  Dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          repository: lushihuan/lushihuan.github.io
          event-type: web-design-course-design-push
